.header {
  box-shadow: 0 2px 8px #f0f1f2;
  display: flex;
  justify-content: center;
  .title {
      color: #f0f1f2;
      font-size: 1.4rem;
      font-weight: 600;
  }
}

.content {
    display: flex;
    flex: auto;
    justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

.link {
  margin-left: 5px;
}

.searchWrapper {
    height: 100%;
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    margin-left: 32px;
}